<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoggingRepo.Properties.Settings.HackerNewsConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=HackerNews;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>